extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Emanuel Amselem

        p.lead.text-light
          | Studying to be a Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Coming from an architectural background, I am looking forward to putting my creative and analytical skills
            | to innovative use in the tech industry.
            | I am currently studying a tech degree at Treehouse to become a Full Stack Javascript Developer.
            | I am keen to work on challenging projects, collaborate with fellow lifelong web development learners
            | as part of a team, and create products which the users could appreciate as much as a well built house !
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li HTML
          li CSS
          li Express
          li Node.js
          li GitHub
          li Visual Studio Code
          li API Requests
          li Asynchronous Code
          li Debugging
        h6 Contact Info

        ul
          li 062-630-2622
          li emanuel.amselem@gmail.com

        a.button.expanded(href='https://github.com/EmanuelAms') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  